{% extends 'base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <div class="about-content">
        <h2>О приюте "Верный друг"</h2>
        <p>Мы помогаем бездомным животным с 2011 года. За это время нашли дом для более чем 3,500 питомцев.</p>

        <h3>Наша работа</h3>
        <p>Каждое животное проходит ветеринарный осмотр, вакцинацию и стерилизацию. Мы подбираем индивидуальный подход к каждому подопечному.</p>
        <h3>Как помочь</h3>
        <ul>
            <li>Финансовая поддержка</li>
            <li>Волонтерская помощь</li>
            <li>Передача кормов и лекарств</li>
        </ul>
        <h3>Контакты</h3>
        <p>г. Новосибирск, ул. Иванова, д.8<br>
        Телефон: +7 (495) 123-45-67<br>
        Часы работы: ежедневно 9:00-19:00</p>
    </div>
{% endblock %}